@require '/styls/import/vars.styl'
@require '/styls/import/mixins.styl'

// header

.ui-header
  background: $color_red
  color: #fff
  font-size: 16px

  .ui-icon-return
    color: #fff
  .pos-r
    position: absolute
    right: 10px
    top: 0