
#inkeyjs-title-bar-menu
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif
  line-height: 1.5
  -webkit-user-select: none
  -webkit-text-size-adjust: 100%
  -webkit-tap-highlight-color: transparent
  outline: 0
  position: fixed
  z-index: 999999
  right: 5px
  top: 8px
  display: none
  background: rgba(85, 85, 85, .95)
  color: #fff
  width: 130px
  font-size: 15px
  border-radius: 5px
  .triangle-up
    width: 0
    height: 0
    top: -8px
    right: 10px
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-bottom: 8px solid rgba(85, 85, 85, .95)
    position: absolute
  ul
    padding: 0 13px
    list-style: none
  li:last-child
    border: none
  li:active
  li:hover
    color: #aeadab
  li
    border-bottom: 1px solid rgba(255, 255, 255, .2)
    padding: 11px 0
    img
      width: 25px
      vertical-align: middle
      margin-right: 5px
    span
      vertical-align: middle
