@require '/styls/import/vars.styl'
@require '/styls/import/mixins.styl'

// 对话框

.ik-dialog

  .bgk
    position: fixed
    z-index: 199
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, .3)

  .container
    position: fixed
    text-align: center
    z-index: 200
    background: #df2649
    border-radius: 50%
    color: #fff
    width: 212px
    height: @width
    top: 50%
    left: 50%
    margin-left: - ( @width / 2)
    margin-top: - ( @width / 2)
    .desc
      height: 212px
    // 关闭按钮
    .close
      position: absolute
      width: 27px
      height: @width
      background: url('/imgs/close.png') no-repeat
      background-size: contain
      left: 50%
      margin-left: -(@width/2)
      top: -(@width/ 2)
    .close:active
      background: url('/imgs/close-active.png') no-repeat
      background-size: contain
    // 内容
    .title
    button
      font-size: 15px
    .title
      width: 80%
    button
      height: 35px
      line-height: @height
      width: 100px
      background: #ffcc00
      color: #df2649
      margin-top: 15px
    button:active
      background: #cca300!important
      color: #df2649!important
